<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlYQsffRC1qIv-lOnOI4XAsAflFDj28zs</string>
	<key>GCM_SENDER_ID</key>
	<string>610092542748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.hopscotch.hopscotch</string>
	<key>PROJECT_ID</key>
	<string>hopscotch-ios-new</string>
	<key>STORAGE_BUCKET</key>
	<string>hopscotch-ios-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610092542748:ios:b2d093f0c659e2f800e8d9</string>
	<key>DATABASE_URL</key>
	<string>https://hopscotch-ios-new.firebaseio.com</string>
</dict>
</plist>